.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  rgb(0, 49, 37);
    -fx-pref-height: 65px;
}
.table-view{
    -fx-table-cell-border-color: transparent;
}
.text-area, .text-field{
    -fx-font-family : Montserrat;
    -fx-font-size : 18px;
}

.date-picker, .time-picker, .jfx-text-field{
    -fx-font-family : Audiowide;
    -fx-font-size : 18px;
}

.audiowide-button{
    -fx-font-family: Audiowide;
    -fx-font-size : 18px;
}

.pretty-button-rounded{
    -fx-text-fill: white;
    -fx-background-color : black;
    -fx-font-family : Audiowide;
    -fx-border-radius : 10px;
    -fx-background-radius: 20px;
}

.small-label{
    -fx-font-family: Audiowide;
    -fx-font-size: 18px;
}
.pretty-button{
    -fx-text-fill: white;
    -fx-background-color : black;
    -fx-font-family : Montserrat;
    -fx-font-weight: bold;
}
.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
    -fx-font-family: "Lucida Console";
    -fx-alignment: center;
}
.labelTitle{
    -fx-font-family : "Audiowide";
    -fx-font-size: 24px ;
    -fx-text-alignment : center;
}
.table-row-cell:selected {
   /* -fx-background-color:  #202423;*/
}
.table-view{
    -fx-alternative-column-fill-visible: false;
}
.table-view .cell{
    -fx-cell-size: 40px;
    -fx-font-family: "Lucida Console";
    -fx-alignment: center;
}
.table-view .cell .label{
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.audiowide-combobox{
        -fx-font-family: "Audiowide";
         -fx-font-size: 18px ;

}
